[Unit]
Description=Gunicorn instance to serve posts service of MYSpace
After=network.target

[Service]
User=ubuntu
Group=root
WorkingDirectory=/home/ubuntu/repo
ExecStart=/home/ubuntu/venvs/posts-service/bin/gunicorn -c config/gunicorn.conf.py wsgi:app
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
